{% extends 'blog/base.html' %}
    {% block content %}
    {% for post in posts %}
        <div class="post">
            <h1><a href={% url 'post_detail' pk=post.pk %}>{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <p><strong>Автор: </strong>{{ post.author }}</p>
            
            {% if post.edit_date %}
            <div>
                <p><strong>Опубликованно :</strong>{{ post.published_date}}</p
                <p><strong>Отредактированно :</strong>{{ post.edit_date}}</p>
            </div>
            {% else %}
            <div>
                <p><strong>Опубликованно :</strong>{{ post.published_date}}</p>
            </div>
            {% endif %}
            <button><a href={% url 'like_post' pk=post.pk %}>Like</a></button>
            {{ post.likes.count }}
        </div>
            
    {% endfor %}
{% endblock %}
